@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Titillium+Web&display=swap');

body {
    font-family: "ubuntu", sans-serif;
    background-color: #C9D7DD;
    margin: 0;
}

.page-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#instructions {
    padding: 50px 0 50px 0;
    text-align: center;
}

.header {
    flex: 2;
    display: flex;
    justify-content: space-between;
    background-color: #E8C872;
    box-shadow: 2px 2px 6px 0px black;



}



/*-------------- Library Card ---------------*/

/*
.library-container is the container for the whole bottom half of the page.
Each .book-container contains a card card.
The .card-container contains all the details of the book
I chose to do it this way because I made each .book-container's width 33%
and I am using flex-wrap, so when I add a 4th book, the next row will appear.
I am making the card-container style to be like an actual vintage library card style.


*/

#library-container-id {
    font-family: "Titillium Web", sans-serif;
    margin-top: 20px;
    flex: 3;
    display: flex;
    flex-wrap: wrap;

}

.book-container {
    height: 350px;
    width: 33%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

.card-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 60%;
    background-color: #f0e0c2;
    box-shadow: 2px 2px 6px 0px black;
}

.container-title {
    text-align: center;
    font-size: 1.2rem;
    border-bottom: 3px solid black;
}

.library-label {
    padding-left: 10px;
}

.library-title,
.library-author,
.library-pages {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.1rem;
    text-align: center;
    border-bottom: 1px solid black;
    overflow-y: scroll;
}

#library-pages-label {
    padding-bottom: 10px;
}


.library-title {
    padding-top: 5px;
    overflow: scroll;
}

.lower-container {
    flex: 1;
    display: flex;
    justify-content: space-around;

    border-top: 5px double black;
}

.library-status {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.library-delete {
    padding-top: 20px;
}

.delete-button {
    font-size: 0.8rem;
    padding: 5px;
    background-color: #C9D7DD;
    border-radius: 0.5em;
}

.delete-button:hover {
    background-color: #637A9F;
    color: #FFF6E9;
}


/*-------------- Modal---------------*/

dialog {
    background-color: #5F8670;
}

form {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: #FF9800;
    color: #08171c;
}

h2 {
    flex: 0.5;
    text-align: center;
    border-bottom: 2px solid #820300;
}

#book-input {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.3rem;

}

#modal-buttons {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#modal-buttons>button {
    width: 25%;
    height: 50%;
    font-size: 1.3rem;
    color: #dcf1f7;
    border-radius: 2em;
    background-color: #5F8670;
}

#modal-buttons>button:hover {
    background-color: #4c7e50;
    /* change to your desired color */
    color: #dcf1f7;
    /* change to your desired color */
}


form>h2,
form>div {

    padding-left: 15px
}

.input-container {
    display: flex;
    justify-content: space-between;
}

input,
select {
    box-sizing: border-box;
    font-family: inherit;
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0px black;
    margin-right: 15px;
}